body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.search-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

#search-results {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    display: none;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.dropdown-item p {
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.dropdown-item button {
    margin-left: auto;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

#inventory, #crafts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.item img {
    max-width: 50px;
    max-height: 50px;
}

.item button {
    margin-top: 5px;
}

#inventory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}
